@import "tailwindcss" source(none) important;
@source "./commands";

@theme {
	--breakpoint-xxs: 280px;
	--breakpoint-xs: 480px;
	--breakpoint-sm: 600px;
	--breakpoint-md: 782px;
	--breakpoint-md2: 960px;
	--breakpoint-lg: 1080px;
	--breakpoint-xl: 1280px;
	--breakpoint-2xl: 1440px;
	--breakpoint-3xl: 1600px;
	--breakpoint-4xl: 1920px;

	--color-wp-theme-500: var(--wp-admin-theme-color);
	--color-wp-theme-600: var(--wp-admin-theme-color-darker-10);
	--color-wp-theme-700: var(--wp-admin-theme-color-darker-20);

	--color-wp-alert-yellow: #f0b849;
	--color-wp-alert-red: #cc1818;
	--color-wp-alert-green: #4ab866;

	--color-gray-50: #fbfbfb;
	--color-gray-100: #f0f0f0;
	--color-gray-150: #eaeaea;
	--color-gray-200: #e0e0e0;
	--color-gray-300: #dddddd;
	--color-gray-400: #cccccc;
	--color-gray-500: #cccccc;
	--color-gray-600: #949494;
	--color-gray-700: #757575;
	--color-gray-900: #1e1e1e;
}

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		/* override */
	}
}
